extends layouts/base-layout
block append content
    .container
        h2.text-center  上传你的作品吧,#{user.name}
    

    .container
        form(action='/works/addWork/#{user._id}',method='POST',enctype="multipart/form-data")
            .form-group
                label 作品名字
                input.form-control(type='text',name='name')#name
            .form-group
                label 简述
                input.form-control(type='text',name='summary')#summary
            .form-group
                label 详细描述
                input.form-control(type='text',name='detail')#detail
            .form-group
                label 作品名字
                input.form-control(type='file',name='files')#files
            button.btn.btn-success(type='submit') 提交
            