header
    .navbar.navbar-default.navbar-fixed-top
        .container-fluid
            .navbar-header
                a.navbar-brand
                    img(src="https://tslang.cn/assets/images/logo_nocircle.svg").navbar-logo
                button.navbar-toggle.pull-left(data-toggle='collapse',data-target="#navbar-collapse-div")
                    span.sr-only
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            //- img(src="https://github.com/Microsoft/TypeScript")
            //- 主要的菜单
            .collapse.navbar-collapse.navbar_center#navbar-collapse-div
                .nav.navbar-nav.navbar-left
                    li: a(href='/')   投票
                    li: a   抽奖
                .nav.navbar-nav.navbar-right
                    if user
                        li.dropdown
                            a.dropdown-toggle(data-toggle='dropdown')  欢迎,#{user.name} 
                                    span.caret
                            ul.dropdown-menu
                                li: a(href='/works/#{user._id}') 我的作品
                                li: a(href='/works/addWork/#{user._id}')  管理作品
                                
                    else 
                        li: a(href="/signin")    登录
                        li: a(href="/signup")    注册
